body {
  background: lightblue;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 40px;
  font-family: Arial;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}